-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: spotify-db-redwithmayonnaise-a3dc.b.aivencloud.com    Database: defaultdb
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `album`
--

DROP TABLE IF EXISTS `album`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `album` (
  `id_album` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `id_artista` int NOT NULL,
  `fecha_lanzamiento` date DEFAULT NULL,
  `portada` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `genero` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_album`),
  KEY `id_artista` (`id_artista`),
  KEY `idx_titulo` (`titulo`),
  KEY `idx_fecha_lanzamiento` (`fecha_lanzamiento`),
  CONSTRAINT `album_ibfk_1` FOREIGN KEY (`id_artista`) REFERENCES `artista` (`id_artista`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `album`
--

LOCK TABLES `album` WRITE;
/*!40000 ALTER TABLE `album` DISABLE KEYS */;
INSERT INTO `album` VALUES (1,'Static Bloom',1,'2021-04-09',NULL,'Synth-pop'),(2,'Folded Wings',2,'2020-09-14',NULL,'Indie folk'),(3,'Grid City',3,'2022-02-25',NULL,'Electronic'),(4,'Reflections',4,'2019-06-21',NULL,'Shoegaze'),(5,'After Hours',5,'2023-10-06',NULL,'Alt rock');
/*!40000 ALTER TABLE `album` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `artista`
--

DROP TABLE IF EXISTS `artista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `artista` (
  `id_artista` int NOT NULL AUTO_INCREMENT,
  `nombre_artista` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `verificado` tinyint(1) DEFAULT '0',
  `biografia` text COLLATE utf8mb4_general_ci,
  `fecha_registro` date DEFAULT NULL,
  `reproducciones_totales` bigint DEFAULT '0',
  `seguidores` int DEFAULT '0',
  `foto_perfil` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_artista`),
  KEY `idx_nombre_artista` (`nombre_artista`),
  KEY `idx_verificado` (`verificado`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artista`
--

LOCK TABLES `artista` WRITE;
/*!40000 ALTER TABLE `artista` DISABLE KEYS */;
INSERT INTO `artista` VALUES (1,'Velvet Echo',1,'Synth-pop duo from the Pacific Northwest.','2019-03-15',0,0,NULL),(2,'The Paper Cranes',1,'Indie folk band with orchestral arrangements.','2020-07-22',0,0,NULL),(3,'Neon District',0,'Electronic producer blending house and techno.','2021-01-10',0,0,NULL),(4,'Glass Harbor',1,'Shoegaze group known for layered guitars.','2018-11-05',0,0,NULL),(5,'Midnight Pines',0,'Alt-rock band with introspective lyrics.','2022-05-18',0,0,NULL);
/*!40000 ALTER TABLE `artista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `artista_seguido`
--

DROP TABLE IF EXISTS `artista_seguido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `artista_seguido` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `id_artista` int NOT NULL,
  `fecha_seguimiento` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_artista`),
  KEY `id_artista` (`id_artista`),
  CONSTRAINT `artista_seguido_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `artista_seguido_ibfk_2` FOREIGN KEY (`id_artista`) REFERENCES `artista` (`id_artista`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artista_seguido`
--

LOCK TABLES `artista_seguido` WRITE;
/*!40000 ALTER TABLE `artista_seguido` DISABLE KEYS */;
/*!40000 ALTER TABLE `artista_seguido` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`avnadmin`@`%`*/ /*!50003 TRIGGER `actualizar_seguidores_artista` AFTER INSERT ON `artista_seguido` FOR EACH ROW BEGIN
    UPDATE artista 
    SET seguidores = seguidores + 1 
    WHERE id_artista = NEW.id_artista;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`avnadmin`@`%`*/ /*!50003 TRIGGER `decrementar_seguidores_artista` AFTER DELETE ON `artista_seguido` FOR EACH ROW BEGIN
    UPDATE artista 
    SET seguidores = seguidores - 1 
    WHERE id_artista = OLD.id_artista;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `cancion`
--

DROP TABLE IF EXISTS `cancion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cancion` (
  `id_cancion` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `duracion` int NOT NULL,
  `id_artista` int NOT NULL,
  `id_album` int DEFAULT NULL,
  `popularidad` int DEFAULT '0',
  `fecha_lanzamiento` date DEFAULT NULL,
  `archivo_audio` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `letra` text COLLATE utf8mb4_general_ci,
  `explicit` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id_cancion`),
  KEY `id_album` (`id_album`),
  KEY `idx_titulo` (`titulo`),
  KEY `idx_popularidad` (`popularidad`),
  KEY `idx_artista` (`id_artista`),
  FULLTEXT KEY `idx_busqueda` (`titulo`),
  CONSTRAINT `cancion_ibfk_1` FOREIGN KEY (`id_artista`) REFERENCES `artista` (`id_artista`) ON DELETE CASCADE,
  CONSTRAINT `cancion_ibfk_2` FOREIGN KEY (`id_album`) REFERENCES `album` (`id_album`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cancion`
--

LOCK TABLES `cancion` WRITE;
/*!40000 ALTER TABLE `cancion` DISABLE KEYS */;
/*!40000 ALTER TABLE `cancion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_reproduccion`
--

DROP TABLE IF EXISTS `historial_reproduccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_reproduccion` (
  `id_reproduccion` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_cancion` int NOT NULL,
  `fecha_reproduccion` datetime DEFAULT CURRENT_TIMESTAMP,
  `duracion_escuchada` int DEFAULT NULL,
  `dispositivo` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_reproduccion`),
  KEY `id_cancion` (`id_cancion`),
  KEY `idx_usuario_fecha` (`id_usuario`,`fecha_reproduccion`),
  KEY `idx_fecha_reproduccion` (`fecha_reproduccion`),
  CONSTRAINT `historial_reproduccion_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `historial_reproduccion_ibfk_2` FOREIGN KEY (`id_cancion`) REFERENCES `cancion` (`id_cancion`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_reproduccion`
--

LOCK TABLES `historial_reproduccion` WRITE;
/*!40000 ALTER TABLE `historial_reproduccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_reproduccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_reproduccion_archivo`
--

DROP TABLE IF EXISTS `historial_reproduccion_archivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_reproduccion_archivo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_reproduccion` bigint DEFAULT NULL,
  `id_usuario` int NOT NULL,
  `id_cancion` int NOT NULL,
  `fecha_reproduccion` datetime DEFAULT NULL,
  `duracion_escuchada` int DEFAULT NULL,
  `dispositivo` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_archivo_usuario` (`id_usuario`),
  KEY `idx_archivo_fecha` (`fecha_reproduccion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_reproduccion_archivo`
--

LOCK TABLES `historial_reproduccion_archivo` WRITE;
/*!40000 ALTER TABLE `historial_reproduccion_archivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_reproduccion_archivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist`
--

DROP TABLE IF EXISTS `playlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist` (
  `id_playlist` int NOT NULL AUTO_INCREMENT,
  `nombre_playlist` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `id_usuario` int NOT NULL,
  `descripcion` text COLLATE utf8mb4_general_ci,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `privada` tinyint(1) DEFAULT '0',
  `portada` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_playlist`),
  KEY `idx_usuario` (`id_usuario`),
  KEY `idx_nombre` (`nombre_playlist`),
  CONSTRAINT `playlist_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3009 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist`
--

LOCK TABLES `playlist` WRITE;
/*!40000 ALTER TABLE `playlist` DISABLE KEYS */;
INSERT INTO `playlist` VALUES (6,'test',13,'esto es una playlist','2025-11-07 11:00:03',0,NULL),(7,'test priv',13,'esto debe ser privado','2025-11-07 11:00:17',1,NULL),(8,'Mis Fav',16,'','2025-11-21 08:10:32',0,NULL),(3006,'Metal Essentials',13,'Heavy riffs across four decades.','2024-02-01 10:00:00',0,NULL),(3007,'90s Alternative',13,'Grunge, britpop and the fur.','2024-05-14 22:30:00',0,NULL),(3008,'Eclectic Mix',13,'A little bit of everything.','2024-07-02 17:45:00',0,NULL);
/*!40000 ALTER TABLE `playlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playlist_cancion`
--

DROP TABLE IF EXISTS `playlist_cancion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playlist_cancion` (
  `id_playlist` int NOT NULL AUTO_INCREMENT,
  `id_cancion` int NOT NULL,
  `orden` int NOT NULL,
  `fecha_agregado` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_playlist`,`id_cancion`),
  KEY `id_cancion` (`id_cancion`),
  KEY `idx_orden` (`orden`),
  CONSTRAINT `playlist_cancion_ibfk_1` FOREIGN KEY (`id_playlist`) REFERENCES `playlist` (`id_playlist`) ON DELETE CASCADE,
  CONSTRAINT `playlist_cancion_ibfk_2` FOREIGN KEY (`id_cancion`) REFERENCES `cancion` (`id_cancion`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playlist_cancion`
--

LOCK TABLES `playlist_cancion` WRITE;
/*!40000 ALTER TABLE `playlist_cancion` DISABLE KEYS */;
/*!40000 ALTER TABLE `playlist_cancion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recomendaciones`
--

DROP TABLE IF EXISTS `recomendaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recomendaciones` (
  `id_recomendacion` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `id_cancion` int NOT NULL,
  `puntuacion` decimal(3,2) DEFAULT NULL,
  `fecha_recomendacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `algoritmo` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_recomendacion`),
  KEY `id_cancion` (`id_cancion`),
  KEY `idx_usuario_algoritmo` (`id_usuario`,`algoritmo`),
  KEY `idx_fecha_recomendacion` (`fecha_recomendacion`),
  CONSTRAINT `recomendaciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `recomendaciones_ibfk_2` FOREIGN KEY (`id_cancion`) REFERENCES `cancion` (`id_cancion`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recomendaciones`
--

LOCK TABLES `recomendaciones` WRITE;
/*!40000 ALTER TABLE `recomendaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `recomendaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguidores`
--

DROP TABLE IF EXISTS `seguidores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguidores` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `id_usuario_seguido` int NOT NULL,
  `fecha_seguimiento` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_usuario`,`id_usuario_seguido`),
  KEY `id_usuario_seguido` (`id_usuario_seguido`),
  KEY `idx_fecha_seguimiento` (`fecha_seguimiento`),
  CONSTRAINT `seguidores_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `seguidores_ibfk_2` FOREIGN KEY (`id_usuario_seguido`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguidores`
--

LOCK TABLES `seguidores` WRITE;
/*!40000 ALTER TABLE `seguidores` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguidores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `salt` varchar(32) COLLATE utf8mb4_general_ci NOT NULL,
  `fecha_registro` date NOT NULL,
  `tipo_cuenta` enum('User','Admin') COLLATE utf8mb4_general_ci DEFAULT 'User',
  `fecha_nacimiento` date DEFAULT NULL,
  `ultima_conexion` datetime DEFAULT NULL,
  `pais` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `version_row` int DEFAULT '1',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_tipo_cuenta` (`tipo_cuenta`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (13,'Alejandro Rodriguez','test@email.com','$2y$10$HTqezdHyRuZDdaeoUiXCpeXAAIw/aUE08d0COeaU6AQn7y8sQX10i','','2025-11-07','Admin','1990-01-01','2026-09-30 06:26:24','M??xico',1),(16,'Sara Mendoza','user@email.com','$2y$10$1Qd77akWpHd1tVczSIZeH.j6uF9OKxPfdoUZ8RL7UrMhSpcV78GxG','','2025-11-19','User','1995-04-12','2025-11-21 08:08:49','Espa??a',1);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`avnadmin`@`%`*/ /*!50003 TRIGGER `actualizar_ultima_conexion` BEFORE UPDATE ON `usuario` FOR EACH ROW BEGIN
    IF NEW.version_row != OLD.version_row THEN
        SET NEW.ultima_conexion = NOW();
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `vista_artistas_populares`
--

DROP TABLE IF EXISTS `vista_artistas_populares`;
/*!50001 DROP VIEW IF EXISTS `vista_artistas_populares`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_artistas_populares` AS SELECT 
 1 AS `id_artista`,
 1 AS `nombre_artista`,
 1 AS `verificado`,
 1 AS `reproducciones_totales`,
 1 AS `total_canciones`,
 1 AS `total_seguidores`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_canciones_populares`
--

DROP TABLE IF EXISTS `vista_canciones_populares`;
/*!50001 DROP VIEW IF EXISTS `vista_canciones_populares`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_canciones_populares` AS SELECT 
 1 AS `id_cancion`,
 1 AS `titulo`,
 1 AS `nombre_artista`,
 1 AS `album`,
 1 AS `popularidad`,
 1 AS `duracion`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_historial_completo`
--

DROP TABLE IF EXISTS `vista_historial_completo`;
/*!50001 DROP VIEW IF EXISTS `vista_historial_completo`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_historial_completo` AS SELECT 
 1 AS `id_reproduccion`,
 1 AS `id_usuario`,
 1 AS `id_cancion`,
 1 AS `fecha_reproduccion`,
 1 AS `duracion_escuchada`,
 1 AS `dispositivo`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_playlists_usuario`
--

DROP TABLE IF EXISTS `vista_playlists_usuario`;
/*!50001 DROP VIEW IF EXISTS `vista_playlists_usuario`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_playlists_usuario` AS SELECT 
 1 AS `id_playlist`,
 1 AS `nombre_playlist`,
 1 AS `descripcion`,
 1 AS `usuario_creador`,
 1 AS `total_canciones`,
 1 AS `fecha_creacion`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_artistas_populares`
--

/*!50001 DROP VIEW IF EXISTS `vista_artistas_populares`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`avnadmin`@`%` SQL SECURITY INVOKER */
/*!50001 VIEW `vista_artistas_populares` AS select `a`.`id_artista` AS `id_artista`,`a`.`nombre_artista` AS `nombre_artista`,`a`.`verificado` AS `verificado`,`a`.`reproducciones_totales` AS `reproducciones_totales`,count(distinct `c`.`id_cancion`) AS `total_canciones`,count(distinct `asg`.`id_usuario`) AS `total_seguidores` from ((`artista` `a` left join `cancion` `c` on((`a`.`id_artista` = `c`.`id_artista`))) left join `artista_seguido` `asg` on((`a`.`id_artista` = `asg`.`id_artista`))) group by `a`.`id_artista` order by `a`.`reproducciones_totales` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_canciones_populares`
--

/*!50001 DROP VIEW IF EXISTS `vista_canciones_populares`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`avnadmin`@`%` SQL SECURITY INVOKER */
/*!50001 VIEW `vista_canciones_populares` AS select `c`.`id_cancion` AS `id_cancion`,`c`.`titulo` AS `titulo`,`a`.`nombre_artista` AS `nombre_artista`,`al`.`titulo` AS `album`,`c`.`popularidad` AS `popularidad`,`c`.`duracion` AS `duracion` from ((`cancion` `c` join `artista` `a` on((`c`.`id_artista` = `a`.`id_artista`))) left join `album` `al` on((`c`.`id_album` = `al`.`id_album`))) order by `c`.`popularidad` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_historial_completo`
--

/*!50001 DROP VIEW IF EXISTS `vista_historial_completo`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`avnadmin`@`%` SQL SECURITY INVOKER */
/*!50001 VIEW `vista_historial_completo` AS select `historial_reproduccion`.`id_reproduccion` AS `id_reproduccion`,`historial_reproduccion`.`id_usuario` AS `id_usuario`,`historial_reproduccion`.`id_cancion` AS `id_cancion`,`historial_reproduccion`.`fecha_reproduccion` AS `fecha_reproduccion`,`historial_reproduccion`.`duracion_escuchada` AS `duracion_escuchada`,`historial_reproduccion`.`dispositivo` AS `dispositivo` from `historial_reproduccion` union all select `historial_reproduccion_archivo`.`id_reproduccion` AS `id_reproduccion`,`historial_reproduccion_archivo`.`id_usuario` AS `id_usuario`,`historial_reproduccion_archivo`.`id_cancion` AS `id_cancion`,`historial_reproduccion_archivo`.`fecha_reproduccion` AS `fecha_reproduccion`,`historial_reproduccion_archivo`.`duracion_escuchada` AS `duracion_escuchada`,`historial_reproduccion_archivo`.`dispositivo` AS `dispositivo` from `historial_reproduccion_archivo` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_playlists_usuario`
--

/*!50001 DROP VIEW IF EXISTS `vista_playlists_usuario`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`avnadmin`@`%` SQL SECURITY INVOKER */
/*!50001 VIEW `vista_playlists_usuario` AS select `p`.`id_playlist` AS `id_playlist`,`p`.`nombre_playlist` AS `nombre_playlist`,`p`.`descripcion` AS `descripcion`,`u`.`nombre` AS `usuario_creador`,count(`pc`.`id_cancion`) AS `total_canciones`,`p`.`fecha_creacion` AS `fecha_creacion` from ((`playlist` `p` join `usuario` `u` on((`p`.`id_usuario` = `u`.`id_usuario`))) left join `playlist_cancion` `pc` on((`p`.`id_playlist` = `pc`.`id_playlist`))) group by `p`.`id_playlist` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-30  7:08:24
